<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人信息</title>
  </head>

  <body
    style="
      background-image: url('https://pic4.zhimg.com/v2-1df96a203a7295b0b590c7b536a88702_r.jpg?source=1940ef5c');
      background-size: cover;
    "
  >
    <div>
      <h1 style="text-align: center">
        <em style="font: normal; color: #fa0000; text-align: center"
          >个人信息</em
        >
      </h1>
      {% for inf in result %}
      <div style="display: grid; grid-template-columns: repeat(2,150px);">
      <p style="margin-right: 20px">昵称：{{inf.appname}}</p>
      <p style="margin-left: 20px">修改成功</p>
      </div>
      <p>剩余金额：{{inf.money}}</p>
      {% endfor %}
    </div>
  </body>
</html>
